html {
    font-family: Inter ,sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    /* pixels to rem - site para realizar a conversão de escalas de pixels para rem */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Teko";
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #FFF2E780;
}

.github {
    color: #FFF2E7;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    background-color: #181012;
}

.image {
    max-width: 1112px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;

    padding: 0 2rem;
    margin: auto;

    overflow: clip;
}

.image-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque {
    font-family: "Epilogue";
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.image-container {
    max-width: 45%;
    column-count: 4;
    gap: 1rem;
    margin: -1rem;
}

.image-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}